@import "tailwindcss";

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  .outfit-regular {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

@theme{
    --color-background:hsl(30, 54%, 90%);
    --color-stone-600:hsl(30, 10%, 34%);
    --font-young-serif:"Young Serif", serif;
    --font-outfit:"Outfit", sans-serif;
}

@layer utilities{
    .bg-background{
        background-color:(--color-background)
    } 
    .young-serif-regular{
        font-family: "Young Serif", serif;
    }
    .outfit-regular{
        font-family: "Outfit", sans-serif;
    }
}